<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} @ %msg%n"/>
    </Console>
        <File name="File" fileName="TkT.log">
      <PatternLayout>
        <Pattern>"%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} @ %msg%n"</Pattern>
      </PatternLayout>
      
    </File>
    <Async name="Async">
      <AppenderRef ref="File"/>
    </Async>
  </Appenders>
  
  <Loggers>
  
  <Logger name="it.unimib.disco.lta.timedKTail.algorithm" level="info" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="it.unimib.disco.lta.timedKTail" level="info" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
     
    <Root level="error">
      <AppenderRef ref="File"/>
    </Root>
 
  </Loggers>
</Configuration>